<P>
  <h1>
    Edit the style:
  </h1>
</P>

<form
  method="POST"
  action="/manage-styles/{{style._id}}/edit"
  enctype="multipart/form-data"
>

  <br />
  <br />
  <p>

    <label>
      Style:
      {{#if style.hairStyle}}
        <textarea
          name="hairStyle"
          cols="10"
          rows="2"
        >{{style.hairStyle}}</textarea>
      {{/if}}
      {{#if style.beardStyle}}
        <textarea
          name="beardStyle"
          cols="50"
          rows="1"
        >{{style.beardStyle}}</textarea>
      {{/if}}
    </label>

  </p>

  <div class="form-group">
    <p>
      Current Image:
      <img src="{{style.primaryImage}}" />
    </p>
    <label>Replace existing image:
      <input type="file" name="primaryImage" class="form-control-file" />
      <input
        type="text"
        name="existingImage"
        hidden
        value="{{style.primaryImage}}"
      />
      <br />

    </label>
  </div>

  <label>
    Slogan:
    <textarea name="slogan" cols="10" rows="2">{{style.slogan}}</textarea>
  </label>

  <p>

  </p>

  <p>
    <label>
      Description:
      <textarea
        name="description"
        cols="50"
        rows="7"
      >{{style.description}}</textarea>
    </label>
  </p>

  <button>Update Style</button>
  {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}

</form>