<h1>Manage Styles Page for Admins Only</h1>

{{#each styles}}


  {{#if this.beardStyle}}
<p>
    {{this.beardStyle}}
  {{this.primaryImage}}
  {{this.description}}

  {{/if}}
</p>

{{#if this.hairStyle}}
<p></p>
 {{this.hairStyle}}
  {{this.primaryImage}}
  {{this.description}}

  {{/if}}
</p>

{{/each}}
