<section class="m-10">

<p>
  <img src="{{primaryImage}}" alt="Primary Image" />
  <br />
  <br />
</p>

Keywords:
{{slogan}}

{{!-- Additional Images:
{{#each additionalImages}}
  <img src="{{this}}" />
{{/each}} --}}
<br />
<br />
<p>Description: {{description}}</p>
<br />
<p>
  <br />
  <br />
  {{!-- {{#each celebrities}}

    {{this.nameOfCelebrity}}
    <br />
    {{this.image}}
    <br />
    <br />
  {{/each}} --}}

</p>

</section>